{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%block title%}Anil Dhakal{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'webapp/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'webapp/fontawesome/css/all.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'webapp/css/ownstylesheet.css'%}">

	<script type="text/javascript" src="{%static 'webapp/js/JQuery.js'%}"></script>
	<script type="text/javascript" src="{%static 'webapp/js/plotly.js'%}"></script>
	<script type="text/javascript" src="{%static 'webapp/js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'webapp/js/script.js'%}"></script>
	{%block links%}{%endblock%}
</head>
<body>
{%block body%}
{%endblock%}
</body>
</html>