<div class="row">
	<div class="col-md-8">
		<div class="h3 mt-5 home-headings">Education:</div>
		<div>
			<div class="d-flex justify-content-between">
				<div>
					<div class="h5 font-weight-bold">B.E Electronics and Communication</div>
					<div class="text-danger">IOE, Pulchowk Campus</div>
				</div>
				<div class="text-primary"><b>2015-2020</b></div>
			</div>
			<ul>
				<li>Graduated with 70.8%</li>
				<li>Specialized in Electronics and Communication</li>
			</ul>
		</div>
		<div>
			<div class="d-flex justify-content-between">
				<div>
					<div class="h5 font-weight-bold">+2 HSEB</div>
					<div class="text-danger">Princeton Int'l Higher Secondary School</div>
				</div>
				<div class="text-primary"><b>2013-2015</b></div>
			</div>
			<ul>
				<li>Graduated with 81.8%</li>
				<li>Studied science</li>
			</ul>
		</div>
		<div>
			<div class="d-flex justify-content-between">
				<div>
					<div class="h5 font-weight-bold">S.L.C</div>
					<div class="text-danger">Mount Everest Higher Secondary School</div>
				</div>
				<div class="text-primary"><b>2013</b></div>
			</div>
			<ul>
				<li>Graduated with 84%</li>
			</ul>
		</div>
	</div>
</div>