{%load static%}
<div>
	<div class="h3 mt-5 home-headings">Interest/Skills</div>
	<ul>
		<li>
			Frontend skills on HTML5, CSS3, JavaScript and ES6, Bootstrap and
			JQuery.
		</li>
		<li>
			Frontend skills on React JS and android/iOS app development with React
			Native.
		</li>
		<li>
			Excellent knowledge on python programming and its application on Django
			Web Framework.
		</li>
		<li>
			Data analysis and visualization with python.
		</li>
		<li>
			Artificial Intelligence, Machine Learning Algorithms and Implementations.
			Database Management and SQL Language.
		</li>
		<li>Hard working and fast learner.</li>
		<li>Ability to cope with different situations.</li>
		<div class="py-2">
			<div id="skill-graphs"></div>
		</div>
	</ul>

	<div class="h3 mt-5 home-headings">Working Experience</div>
	<ul>
		<li>
			Internship (<b>Software Developer</b>): 16th October 2020 to 15th February 2021,
			First Paddle Pvt. Ltd.
		</li>
		<li>
			<b>Software Developer</b>: 16th October 2020 to till date, First Paddle Pvt. Ltd.
			(<a href="https://www.firstpaddle.com/">https://www.firstpaddle.com/</a>)
		</li>
	</ul>
	<div class="h3 mt-5 home-headings">Academic Projects</div>
	<ul>
		<li>
			IOT-Based Home Automation
		</li>
		<li>
			Real Time Network Intrusion and Malicious URL Detection with Network Traffic Visualization
		</li>
	</ul>
</div>