<div class="h3 mt-5 home-headings">Personal Details:</div>
<div class="row">
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Birthday:</b> 27th January 1996</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Age:</b> 26 years</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Website:</b> <a href="https://dhakalanil.com.np">dhakalanil.com.np</a></div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Email:</b> aneildhakal21@gmail.com</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Religion:</b> Hinduism</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Languages:</b> Nepali, English, Hindi</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Phone:</b> +977-9845713027</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Address:</b> Simara-04, Province No. 2, Nepal</div>
	</div>
	<div class="col-md-6 py-2 border-bottom">
		<div><b>Marital Status:</b> Married</div>
	</div>
	<div class="col-md-6 py-2 border-bottom" id="print">
		<div class="btn btn-block btn-warning"><span class="font-weight-bold">Download CV</span></div>
	</div>
</div>
